.footer {
  background-color: #991978;
  color: white;
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.social-icons a {
  gap: 14px;
  color: white;
  margin-left: 14px;
}

@media (max-width: 900px) {
  .footer {
    padding: 40px;
  }
}
